//Color
$primary: #9356dc;
$secondary: #FF79DA;
$tertiary: #99E2D0;

$grey : #EAEAEA;
$grey-light : #F6F6F6;

//Responsive
$breakpoints: (
        xs: 0,
        sm: 576px,
        md: 767px,
        lg: 992px,
        xl: 1200px
);