html body {
  margin: 0;
  height: 100vh;
}

header {
  position: relative;
}

.container {
  padding: 10px;
}

.text-center {
  text-align: center;
}

.container-menu {
  @extend .container;

  position: relative;
  bottom: 40px;
  background-color: white;
  border-radius: 40px 40px 0 0;

  h3 {
    font-family: Shrikhand, sans-serif;
    font-size: 1.5em;
    margin-left: 10px;
    margin-bottom: 0;
  }
}

.bg-grey {
  background-color: $grey-light;
  padding-bottom: 50px;
}

* {
  font-family: Roboto, sans-serif;
}

.heart-menu {
  position: relative;
  bottom: 10px;
}

.heart {
  position: relative;
  
  .fa-heart {
    position: absolute;
    cursor: pointer;
    color: #cbcbcb;
    font-size: 1.5em;
    bottom: 6px;
    right: 15px;
  }

  .full {
    opacity: 0;
    &:hover {
      transition: opacity 1s ease;
      opacity: 1;
      font-weight: bold;
      background: -webkit-gradient(linear, left top, left bottom, from($primary), to($secondary));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}


//Loader
.loading-spinner {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 9999;
  position: fixed;
  text-align: center;
  background-color: $primary;

  animation: loader 2s linear forwards;

  h3 {
    position: relative;
    top: 30%;
    font-size: 44px;
    color: white;
    text-transform: uppercase;
    font-family: Shrikhand, sans-serif;
  }

  p {
    position: relative;
    font-family: Roboto, sans-serif;
    color: white;
    font-size: 10px;
    top: 72%;
  }

  .loader {
    width: 50px;
    height: 50px;
    top: 26%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .spinner {
    border-radius: 50px;
    border: 2px solid $secondary;

    &:after {
      content: "";
      position: absolute;
      top: -6px;
      left: -6px;
      bottom: -6px;
      right: -6px;
      border-radius: 50px;
      border: 11px solid transparent;
      border-top-color: $primary;
      animation: loader-spinner 1.5s linear;
    }
  }
}


// Nav
nav {
  z-index: 999;
  height: 60px;
  width: 100%;
  box-shadow: 0 0 5px black;
}

.nav-name {
  text-align: center;

  img {
    padding: 13px;

    /*font-family: Shrikhand, sans-serif !important;
    font-style: italic;
    font-weight: 700;*/

  }

  i {
    float: left;
    position: relative;
    left: 16px;
    top: 20px;
    color: $grey-dark;
    font-size: 1.4em;
  }
}

//Footer
footer {
  @extend .container;
  background-color: #353535;
  color: white;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      padding-bottom: 10px;
    }
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }

  h5 {
    font-family: Shrikhand, sans-serif;
    font-size: 1.2em;
    font-weight: normal;
  }
}